.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 5rem;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background: black;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.level_header {
    font-size: 4rem;
}

.header_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
