.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.grid_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
