.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    font-size: 2rem;
}

.list_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
    width: 80vw;
    background: black;
    color: white;
    box-shadow: 7px 7px 5px black;
}

.list_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}
